<div class="container main-container">

    <div class="row text-center">

        <!--  -->
        <div *ngFor="let produto of produtos" class="col-md-4" style="padding-bottom: 30px;">
            <div class="card h-100">
                <!-- o primeiro parâmetro é o caminho; o segundo é o id -->
                <a class="text-decoration-none" [routerLink]="['/produto-detalhe, produto.id']">
                    <div style="align-content:center;">
                        <img src="../../../assets/{{ produto.imagem}}" height="164px" width="253px" alt="">
                    </div>
                </a>

                <p>Por apenas:</p>

                <!-- outra forma de fazer -->
                <div [ngSwitch]="produto.promocao">
                    <p *ngSwitchCase="true">Promoção!</p>
                    <p *ngSwitchCase="false">Por apenas:</p>
                </div>

                <div *ngIf="produto.promocao" class="card-body">
                    <div><h4>De:
                        <!-- small: risca o numero, del -->
                        <small><del>{{ produto.valor | currency: 'BRL':true:'1.2-2':'pt' }}</del></small>></h4></div>
                </div>

                <div *ngIf="!produto.promocao" class="card-body">
                    <div><h4>{{ produto.valor | currency: 'BRL':true:'1.2-2':'pt' }}</h4></div>
                </div>


                
                <div *ngIf="!produto.promocao" class="card-body">
                    <!-- utilizando o pipe do angular, que serve para formatar um valor -->
                    <h4 class="card-title">{{ produto.nome | titlecase }}</h4>
                    <div><h4>{{ produto.valor | currency: 'BRL':true: '1.2-2':'pt'}}</h4></div>
                </div> -->
                <div class="card-footer">
                    <a class="btn btn-primary" [routerLink]="['/carrinho', produto.id]">
                        <span class="fa fa-shoppin-cart"></span> Comprar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>