<div>
    <form action="">
        <div class="col-m-4 multi-horizontal" data-for="phone">
            <div class="form-group">
                <label class="form-control-label mbr-fonts-style display-7" for="phone-form1-2w">Telefone</label>
                <input type="tel"  class="form-control" name="phone" data-form-field="Phone" id="phone">
            </div>
        </div>

        <div class="col-m-4 multi-horizontal" data-for="message">
            <label class="form-control-label mbr-fonts-style display-7" for="message-form1-2w">Messages</label>
            <textarea type="text" class="form-control" name="message" rows="7" data-form-field="Message" id="message-form1-2w"></textarea>
        </div>
        
        <span class="input-group-btn">
            <button href="" type="submit" class="btn btn-primary btn-form display-4">Enviar</button>
        </span>
    </form>
</div>